@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container my-5">
    <h3 class="text-center mb-4">@ViewData["Title"]</h3>

    <div class="card">
        <div class="card-body">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3 form-floating text-black">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                    <label for="Input_UserName">Username</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="mb-3 form-floating text-black">
                    <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <label for="Input_Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
            <div class="mt-3 text-center text-black">
                <p>Don't have an account?</p>
                <div class="BTN1">
                    <a href="/Identity/Account/Register" class="btn btn-secondary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .BTN1 a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .BTN1 a:hover {
            background-color: blue; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
            color: black; /* เปลี่ยนสีข้อความเมื่อ hover */
        }

    #login-submit {
        width: 200px; /* กำหนด padding ให้ปุ่มเล็กลง */
        font-size: 14px; /* ลดขนาดฟอนต์ให้เล็กลง */
        margin: 0 auto;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
